header.header
    .burger
        span
        span
        span
    .header__top
        ul.socials
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-instagram
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-twitter
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-facebook-f
        a.logo(href="index-ru.html")
            img.logo-desc(src="img/logo.png", alt="")
            img.logo-mob(src="img/logo-mob.png", alt="")
        .header__right
            ul.store
                li.store__item
                    a.store__link
                        img.store__icon(src="img/app-store.png", alt="")
                li.store__item
                    a.store__link
                        img.store__icon(src="img/gs-store.png", alt="")
            ul.lang
                li
                    a.lang-link(href="") EN
                    ul.lang-submenu
                        li
                            a.lang-link(href="") RU
                i.lang-icon.far.fa-chevron-down
    ul.nav
        li.nav__item
            a.nav__link(href="about-ru.html") О компании
        li.nav__item
            a.nav__link(href="legal-services-ru.html") Юридические услуги
        li.nav__item
            a.nav__link(href="financial-services-ru.html") Финансовые услуги
        li.nav__item
            a.nav__link(href="it-services-ru.html") Услуги в сфере IT
        li.nav__item
            a.nav__link(href="executive-services-ru.html") Представительские услуги
        li.nav__item
            a.nav__link(href="career-ru.html") Карьера




