header.header
    .burger
        span
        span
        span
    .header__top
        ul.socials
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-instagram
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-twitter
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-facebook-f
        a.logo(href="index-en.html")
            img.logo-desc(src="img/logo.png", alt="")
            img.logo-mob(src="img/logo-mob.png", alt="")
        .header__right
            ul.store
                li.store__item
                    a.store__link
                        img.store__icon(src="img/app-store.png", alt="")
                li.store__item
                    a.store__link
                        img.store__icon(src="img/gs-store.png", alt="")
            ul.lang
                li
                    a.lang-link(href="") EN
                    ul.lang-submenu
                        li
                            a.lang-link(href="") RU
                i.lang-icon.far.fa-chevron-down
    ul.nav
        li.nav__item
            a.nav__link(href="about-en.html") About Us
        li.nav__item
            a.nav__link(href="legal-services-en.html") Legal Services
        li.nav__item
            a.nav__link(href="financial-services-en.html") Financial Services
        li.nav__item
            a.nav__link(href="it-services-en.html") IT Services
        li.nav__item
            a.nav__link(href="executive-services-en.html") Executive Services
        li.nav__item
            a.nav__link(href="career-en.html") Career at RCC




