.customers {
  position: relative;
  height: 420px;
  overflow-y: auto;
}

.customers--inner {
  height: 600px;
}

.customers-item {
  position: relative;
  cursor: pointer;
  padding: 15px 15px 15px 45px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.5s;
  text-align: left;
  color: $black;
  background: transparent;
  p {
    margin-bottom: 10px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45px;
    height: 1px;
    width: calc(100% - 45px);
    background: #acacac;
  }
}

.customers-item::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: $black;
  font-size: 55px;
  font-weight: 100;
  background: url("../img/plus.png") no-repeat center;
}

.customers-title {
  font-size: 14px;
  padding-left: 45px;
}
