.socials-mob {
  display: none;
  @media(max-width: $container-sm) {
    display: flex;
  }
}

.store-mob {
  display: none;
  margin-right: 0;
  justify-content: flex-end;
  @media(max-width: $container-sm) {
    display: flex;
  }
}

.footer {
  flex-shrink: 0;
  padding-bottom: 20px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  @media(max-width: $container-mob) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.details {
  //width: 33%;
  @media(max-width: $container-mob) {
    width: 100%;
  }
}

.details__item {
  display: flex;
  margin-bottom: 10px;
}

.details__title {
  text-transform: uppercase;
  margin-right: 6px;
}

.text-bold {
  font-weight: bold;
}

.details__title, .details__desc {
  margin-bottom: 0;
}

.details__item--contacts {
  display: block;
}
