.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background: #d7d7d7 url("../img/app-bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 150px;
  @media(max-width: $container-md) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.container {
  max-width: $container;
  width: 100%;
  margin: auto;
  padding: 0 20px;

  @media(max-width: $container-md) {
    max-width: 100%;
    padding: 0 20px;
  }
  @media(max-width: $container-sm) {
    max-width: 100%;
  }
  @media(min-width: 1600px) {
    max-width: 1600px;
  }
}

.content {
  flex: 1 0 auto;
}

.lang {
  position: relative;
  width: 45px;
  cursor: pointer;
  @media(max-width: $container-md) {
    margin-right: 45px;
  }
  &-link {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    color: #1d1d1d;
  }
  &-icon {
    position: absolute;
    top: 3px;
    right: 0;
  }
}

.lang-submenu {
  position: absolute;
  top: 25px;
  display: none;
  opacity: 0;
  transition: all .3s ease-in-out;
  &.active {
    display: block;
    opacity: 1;
  }
}

.arrow-scroll {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  &__wrap {
    fill: $black;
    font-size: 36px;
    display: inline-block;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
    &_animated {
      animation: arrow-scroll 1.7s infinite ease;
    }
  }
  @keyframes arrow-scroll {
    0% {transform: translateY(0)}
    50% {transform: translateY(-7px)}
    55% {transform: translateY(-7px)}
    100% {transform: translateY(0)}
  }
}

.full-size {
  height: 100vh;
  overflow: hidden;
}

.video {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  object-fit: cover;
}
