.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @media(max-width: $container-md) {
    flex-wrap: wrap;
    //max-width: 320px;
    width: 100%;
    position: fixed;
    top: 0;
    right: -4000px;
    padding: 20px;
    background: $white;
    z-index: 9;
    &.nav--show {
      right: 0;
    }
  }
  &__item {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
    @media(max-width: $container-md) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__link {
    font-size: 18px;
    font-weight: 600;
  }
}

.mob-nav {
  display: none;
  @media(max-width: $container-md) {
    position: fixed;
    top: 48px;
    right: -4000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: $white;
    width: 100%;
    z-index: 5;
    &.nav--show {
      right: 0;
    }
  }
}
