.slider .slick-track {
  display: flex;
  flex-wrap: wrap;
}

.slider {
  &__item {
    padding: 30px;
    margin-top: -2px;
    border-right: 1px solid #b1afae;
    border-top: 1px solid #b1afae;
    img {
      width: 85px;
      object-fit: cover;
      margin: auto;
    }
  }
}

.slick-dots li button {
  border: 1px solid #898989;
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 16px;
  color: #898989 !important;
  //opacity: 1 !important;
  top: 1px;
  left: 2.5px;
  width: 16px;
  height: 16px;
}

.slider-about {
  margin-left: -30px;
  &__item {
    padding: 30px;
    border-right: 1px solid #b1afae;
    &:nth-child(even) {
      border-right: 0;
    }
    &:nth-child(odd) {
      //padding-left: 0;
    }
  }
  &__pic {
    width: 39px;
    height: 43px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
  }
}
