.socials {
  display: flex;
  &__item {
    margin-right: 20px;
  }
  &__icon {
    width: 30px !important;
    height: 30px;
  }
  @media(max-width: $container-xs) {
    display: none;
  }
}

.socials-mob {
  @media(max-width: $container-xs) {
    display: flex;
    margin: 15px 0;
  }
}
