.store {
  display: flex;
  margin-right: 55px;
  &__item {
    margin-left: 7px;
  }

  &__icon {
    width: 30px !important;
    height: 30px;
  }
  @media(max-width: $container-xs) {
    display: none;
  }
}

.store-mob {
  @media(max-width: $container-xs) {
    display: flex;
    margin: 15px 0;
  }
}
