$base_font: 'Ubuntu';

$white: #FFFFFF;
$black: #000000;

$lg: 1920px;
$md: 1440px;
$sm: 1366px;
$xs: 767px;

$container: 1170px;
$container-md: 1110px;
$container-sm: 1024px;
$container-xs: 768px;
$container-mob: 767px;

