.screen
    .screen__banner
        img(src="img/banner_5.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner RCC PROVIDES REPRESENTATIVE SERVICES IN THE EU, CIS, GEORGIA AND TURKEY


    .screen__content
        p.accordion-title List of services provided by the RCC Group:

        .accordion.js-accordion
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Passporting licenses in the appropriate territory to promote the services of financial companies;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Opening of branches and representative offices of financial companies;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Providing representative services without opening a branch of a financial institution;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Creation of multilingual support service and 24/7 tech support of users;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Carrying out activities in the interests of the client under the agency agreement in order to attract users in new regions and provide them with consulting support;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Development and carrying out marketing activities;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Development and implementation of marketing campaigns;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header PR services for the company, content creation, writing articles, publications in social networks and media
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

