.screen
    .screen__banner
        img(src="img/banner_5.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner RCC оказывает представительские услуги на территории ЕС, СНГ, Грузии и Турции

    .screen__content
        .accordion-wrapp

            button.accordion Паспортизация лицензий на территории продвижения услуг финансовых компаний;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Открытие филиалов и представительств финансовых компаний;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Оказание представительских услуг без открытия филиала финансового учреждения;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Создание мультиязычной службы поддержки и круглосуточное консультирование  пользователей;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Осуществление деятельности в интересах клиента по агентскому договору с целью привлечения пользователей в новых регионах и оказания им консультационной поддержки;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Разработка и проведение маркетинговых мероприятий;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion PR компании, создание контента, написание статей, публикации в соцсетях и СМИ
                .panel.panel--left
                    p.panel-text
                        strong Подробное описание услуги
                    a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

