.screen
    .screen__banner
        img(src="img/banner_5.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner RCC оказывает представительские услуги на территории ЕС, СНГ, Грузии и Турции

    .screen__content
        p.accordion-title Наш функционал в проекте
        .accordion.js-accordion
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Паспортизация лицензий на территории продвижения услуг финансовых компаний;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Открытие филиалов и представительств финансовых компаний;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Открытие филиалов и представительств финансовых компаний;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Оказание представительских услуг без открытия филиала финансового учреждения;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Создание мультиязычной службы поддержки и круглосуточное консультирование  пользователей;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Осуществление деятельности в интересах клиента по агентскому договору с целью привлечения пользователей в новых регионах и оказания им консультационной поддержки;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Разработка и проведение маркетинговых мероприятий;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Разработка и проведение маркетинговых мероприятий;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header PR компании, создание контента, написание статей, публикации в соцсетях и СМИ
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

