.screen.screen--custom
    .screen__banner
        img(src="img/banner_6.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner Специалисты RCC окажут услугу сопровождения компании в достижении поставленных целей при управлении финансами
            p.banner-content__desc Максимальное повышение показателя рентабельности, улучшении основных показателей деятельности организации, оптимизация денежных потоков, обеспечение необходимым объемом финансовых ресурсов для выхода на новый сегмент рынка и развитие новых направлений деятельности компании
    .screen__content
        .accordion-wrapp

            button.accordion Помощь в получении страхового полиса (страхование профессиональной ответственности);
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Помощь в открытии расчетных, сегрегированных, корреспондентских счетов;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Помощь в открытии корпоративных криптоаккаунтов;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Запуск деятельности платежной системы до получения лицензий (по системе white label (интернет-банкинг, электронные кошельки, криптооперации);
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Выпуск ко-брендинговых банковских карт;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Карточный и процессинговый white label;
            .panel.panel--left
                p.panel-text
                    strong Подробное описание услуги
                a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            button.accordion Подключение эквайринга;
                .panel.panel--left
                    p.panel-text
                        strong Подробное описание услуги
                    a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            button.accordion Помощь в подборе БИН-спонсора;
                .panel.panel--left
                    p.panel-text
                        strong Подробное описание услуги
                    a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            button.accordion
                p Помощь в получении собственного карточного БИН номера;
                p Подключение к SWIFT/SEPA
                .panel.panel--left
                    p.panel-text
                        strong Подробное описание услуги
                    a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

