.screen.screen--custom
    .screen__banner
        img(src="img/banner_6.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner RCC SPECIALISTS WILL FULLY SUPPORT YOUR COMPANY IN ACHIEVING ITS GOALS IN FINANCIAL MANAGEMENT

            p.banner-content__desc Maximal increase of profitability rate, improvement of main indices of organization's activity, optimization of cash flows, providing necessary volume of financial resources in order to enter a new market segment and development of new directions of company's activity

    .screen__content
        .accordion.js-accordion
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in obtaining an insurance policy (professional liability insurance);
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in opening settlement, segregated, correspondent accounts;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in opening corporate crypto-accounts;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Launch of payment system activities prior to obtaining the licenses (under white label system (internet-banking, e-wallets, crypto-operations);
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                    a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service


            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Issue of co-branded bank cards;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Card and processing white label;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Acquiring connection;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in choosing a BIN sponsor;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header
                    p.mb-0 Assistance in obtaining your own BIN-card number;

                    p.mb-0 Connection to SWIFT/SEPA
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service

