.screen.screen--custom
    .screen__banner
        img(src="img/banner_6.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner Специалисты RCC окажут услугу сопровождения компании в достижении поставленных целей при управлении финансами
            p.banner-content__desc Максимальное повышение показателя рентабельности, улучшение основных показателей деятельности организации, оптимизация денежных потоков, обеспечение необходимым объемом финансовых ресурсов для выхода на новый сегмент рынка и развитие новых направлений деятельности компании
    .screen__content
        .accordion.js-accordion
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь в получении страхового полиса (страхование профессиональной ответственности);
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь в открытии расчетных, сегрегированных, корреспондентских счетов;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь в открытии корпоративных криптоаккаунтов;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Запуск деятельности платежной системы до получения лицензий (по системе white label (интернет-банкинг, электронные кошельки, криптооперации);
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                    a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу


            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Выпуск ко-брендинговых банковских карт;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Карточный и процессинговый white label;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Подключение эквайринга;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь в подборе БИН-спонсора;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header
                    p.mb-0 Помощь в получении собственного карточного БИН номера;
                    p.mb-0 Подключение к SWIFT/SEPA
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу

