footer.footer
    ul.socials.socials-mob
        li.socials__item
            a.socials__link
                i.socials__icon.fab.fa-instagram
        li.socials__item
            a.socials__link
                i.socials__icon.fab.fa-twitter
        li.socials__item
            a.socials__link
                i.socials__icon.fab.fa-facebook-f
    ul.store.store-mob
        li.store__item
            a.store__link
                img.store__icon(src="img/app-store.png", alt="")
        li.store__item
            a.store__link
                img.store__icon(src="img/gs-store.png", alt="")
