header.header
    .header__top
        ul.socials
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-instagram
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-twitter
            li.socials__item
                a.socials__link
                    i.socials__icon.fab.fa-facebook-f
        a.logo(href="index.html")
            img.logo-desc(src="img/logo.png", alt="")
            img.logo-mob(src="img/logo-mob.png", alt="")
        .header__right
            ul.store
                li.store__item
                    a.store__link
                        img.store__icon(src="img/app-store.png", alt="")
                li.store__item
                    a.store__link
                        img.store__icon(src="img/gs-store.png", alt="")
            ul.lang
                li
                    a.lang-link(href="") EN
                    ul.lang-submenu
                        li
                            a.lang-link(href="") RU
                i.lang-icon.far.fa-chevron-down
            .burger
                span
                span
                span
    ul.nav
        li.nav__item
            a.nav__link О компании
        li.nav__item
            a.nav__link Юридические услуги
        li.nav__item
            a.nav__link Финансовые услуги
        li.nav__item
            a.nav__link Услуги в сфере IT
        li.nav__item
            a.nav__link Представительские услуги
        li.nav__item
            a.nav__link Карьера




