.screen
    .screen__banner
        img(src="img/banner_7.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner CREATION AND SUPPORT OF THE IT INFRASTRUCTURE OF YOUR BUSINESS
            p.banner-content__desc IT consulting is necessary to improve the quality of IT products of your business.  Our expertise will help you build an effective IT infrastructure that is fully compliant with regulatory requirements.

    .screen__content
        .accordion.js-accordion
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Selection of software (purchase or lease) that meets legal requirements in the financial sphere;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in software audit, including assistance in obtaining the PCI DSS certificate;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in connection to third party software in case of white label cooperation;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Assistance in integration with segregated or correspondent accounts;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Accounting system automation;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Creation and connection of bots for automatic exchange operations of purchase/sale of currencies;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header API connection to partner financial services;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Connection of crypto-functional services
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Detailed description of the service
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Get a service


