.screen
    .screen__banner
        img(src="img/banner_7.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner Создание и поддержка IT-инфраструктуры вашего бизнеса
            p.banner-content__desc Консалтинг в области информационных технологий необходим для повышения качества IT-продуктов вашего бизнеса.  Наши знания помогут вам выстроить эффективную IT-инфраструктуру, полностью соответствующую требованиям регуляторов.
    .screen__content
        .accordion.js-accordion
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Подбор програмного обеспечения (покупка или аренда), соответствующего требованиям законодательства в финансовой сфере;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь при проведении аудита ПО, в т.ч. содействие в получении сертификата PSI DSS;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь в подключении к стороннему софту при взаимодействии по системе white label;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Помощь при инеграции с сегрегированными или корреспондентскими счетами;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Автоматизация системы учета;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Создание и подключение ботов для автоматического проведения обменных операций, покупки/продажи валюты;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Подключение по API к партнерским финансовым сервисам;
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу
            .accordion__item.js-accordion-item
                .accordion-header.js-accordion-header Подключение криптофункционала
                .accordion-body.js-accordion-body
                    .accordion-body__contents
                        .panel.panel--left
                            p.panel-text
                                strong Подробное описание услуги
                            a(href="").panel-btn.btn.btn-dark.btn-dark--border Получить услугу


