.screen.screen--custom
    #fixed-menu.list-group.fixed-menu
        a.list-group-item.list-group-item-action.active(href='#customers-list-1')
        a.list-group-item.list-group-item-action(href='#customers-list-2')
        a.list-group-item.list-group-item-action(href='#customers-list-3')
    .screen__banner
        img(src="img/banner_8.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner Любой бизнес является сферой деятельности, которая ограничена жесткими законодательными требованиями
            p.banner-content__desc Для каждого бизнеса, вне зависимости от его масштабов и сферы деятельности, одна из главных задач заключается в тщательном отслеживании мер законодательного регулирования с целью  предотвращения любых сложностей при взаимодействии с контролирующими органами власти
    .screen__content
        .customers.customers--inner.scrollspy-example(data-spy='scroll' data-target='#fixed-menu' data-offset='0')
            ul#customers-list-1.customers-list
                li.customers-item Открытие юридического лица, соответствующего требованиям регулятора для дальнейшего получения финансовых лицензий;
                li.customers-item Подготовка комплекта документов для подачи на получение лицензий ( Virtual Currency,   Operating as a Finansial Institution, SPI, PI, EMI);
                li.customers-item Помощь в составлении бизнес-плана;
                li.customers-item Помощь в написании правил и политик;
            ul#customers-list-2
                li.customers-item Помощь в подборе персонала (в соответствии с требованиями регулятора);
                li.customers-item Помощь в проведении аудита софта на соотетствие требованиям PSD2, PSI DSS, прочим директивам EC и международному законодательству о хранении персональных данных и передаче информации;
                li.customers-item
                    p Подбор готовых финансовых учреждений с целью покупки;
                    p Проведение процедуры Due diligence;
            ul#customers-list-3
                li.customers-item
                    p Сопровождение процедуры покупки/ услуги эскро-агента;
                    p Смена собственников/руководителей + проверка на соблюдения соответствия требованиям регулятора;
                li.customers-item Помощь в заключении договора карточного и процессингового  white label;
                li.customers-item Получение Legal Opinion по вопросам ведения деятельности в ЕС, Турции, СНГ, Грузии;
                li.customers-item Паспортизация и легализация деятельности финансового учреждения в странах ЕС, СНГ, Турция, Грузия (регистрация в ЦБ, паспортизация, открытие представительств, филиалов, дочерних предприятий);
                li.customers-item Консультации и представление интересов в случае возникновения претензий или спорных ситуаций во взаимоотношениях с Центральными Банками, ведение переписки, апелляции, оспаривание решений в вышестоящих инстанциях и судах
