link(rel="stylesheet" href="libs/slick/slick.css")
link(rel="stylesheet" href="libs/slick/slick-theme.css")
link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="css/main.css")
