.screen.screen--custom
    .screen__banner
        img(src="img/banner_3.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner Cпециалисты RCC оказывают услуги финансовым стартапам, действующим платежным сервисам на территории ЕС, СНГ, Грузии и Турции
            p.banner-content__desc Профессиональные участники финансового рынка могут получить полный комплекс услуг, позволяющий им динамично развиваться и опережать конкурентов
    .screen__content
        p Юридический холдинг <strong>Real Consulting Club</strong> (RCC) осуществляет свою деятельность с 2007 года.
        p В начале своей работы, RCC специализировался на классических консультационных и посреднических услугах на территории ЕС, в частности: сопровождение и оформление сделок с недвижимостью, содействие в получении гражданства и вида на жительство, открытие юридических лиц и банковских счетов.
        p Постоянное взаимодействие с регулирующими органами и финансовыми учреждениями, а также опыт работы с аудиторскими компаниями и поставщиками программного обеспечения, позволило специалистам RCC значительно повысить свою квалификацию в направлении консалтингового сопровождения компаний, осуществляющих свою деятельность в сфере финансов. Это позволило холдингу RCC выйти за пределы Евросоюза и расширить географию своей деятельности.
        p На территории России интересы холдинга RCC представляет компания ООО «Реал Консалтинг Клаб», основанная в 2017 году.
        p На сегодняшний день специалисты RCC оказывают услуги для финансовых стартапов и действующих платежных сервисов на территории ЕС, СНГ, Грузии и Турции. Профессиональные участники финансового рынка могут получить полный комплекс услуг, позволяющий им динамично развиваться и опережать конкурентов.
        .slider-about
            .slider-about__item
                img.slider-about__pic(src="img/insurance.png" alt="")
                p.slider-about__text Полная конфиденциальность
            .slider-about__item
                img.slider-about__pic(src="img/contract.png" alt="")
                p.slider-about__text Детальное погружение в бизнес клиента
            .slider-about__item
                img.slider-about__pic(src="img/insurance.png" alt="")
                p.slider-about__text Полная конфиденциальность
            .slider-about__item
                img.slider-about__pic(src="img/contract.png" alt="")
                p.slider-about__text Детальное погружение в бизнес клиента

