.screen.screen--custom
    .screen__banner
        img(src="img/banner_3.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner RCC SPECIALISTS PROVIDE SERVICES TO FINANCIAL START-UPS AND EXISTING PAYMENT SERVICES IN THE EU, CIS, GEORGIA AND TURKEY
            p.banner-content__desc Professional participants of the financial market can get a full range of services allowing them to develop dynamically and be ahead of their competitors
    .screen__content
        p Real Consulting Club (RCC) has been operating worldwide since 2007.
        p At the beginning of our work, we specialized in classical consulting and intermediary services in the EU, in particular: support and execution of real estate transactions, assistance in obtaining citizenship and residence permits, opening of legal entities and bank accounts.
        p Continuous interaction with regulatory authorities and financial institutions, as well as experience with audit of companies and software vendors, allowed RCC specialists to significantly improve their skills in the area of consulting support for companies involved in the financial sector. This enabled RCC holding to expand its activity geographically beyond the borders of the European Union.
        p In Russia the interests of RCC Holding are represented by Real Consulting Club LLC, founded in 2017.
        p Today RCC specialists provide services for financial startups and existing payment services in the EU, CIS, Georgia and Turkey. Professional participants of the financial market can get a full range of services allowing them to develop dynamically and be ahead of their competitors.

        .slider-about
            .slider-about__item
                img.slider-about__pic(src="img/insurance.png" alt="")
                p.slider-about__text Полная конфиденциальность
            .slider-about__item
                img.slider-about__pic(src="img/contract.png" alt="")
                p.slider-about__text Детальное погружение в бизнес клиента
            .slider-about__item
                img.slider-about__pic(src="img/insurance.png" alt="")
                p.slider-about__text Полная конфиденциальность
            .slider-about__item
                img.slider-about__pic(src="img/contract.png" alt="")
                p.slider-about__text Детальное погружение в бизнес клиента

