.screen
    .screen__banner
        img(src="img/banner_4.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner клиенты, чьи бизнесы мы обслуживаем с точки зрения осуществления представительских функций
            p.banner-content__desc В настоящий момент мы осуществляем комплексное обслуживание группы компаний GoldFort (Чехия, Эстония, Словакия, Турция), одна из компаний которой является владельцем финансовых лицензий «virtual currency» и «operating as a financial institution»
    .screen__content
        ol.breadcrumbs
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="customer.html").breadcrumbs__link Наши клиенты
        p В настоящий момент мы осуществляем комплексное обслуживание группы компаний GoldFort (Чехия, Эстония, Словакия, Турция), одна из компаний которой является владельцем финансовых лицензий «virtual currency» и «operating as a financial institution»
        .accordion-wrapp
            p.accordion-title Наш функционал в проекте:
            button.accordion Открытие филиалов и представительств;
            button.accordion Паспортизация лицензий на территории ЕС, Турции, России, Казахстана, ОАЭ;
            button.accordion Открытие расчетных и сегрегированных счетов в вышеупомянутых юрисдикциях;
            button.accordion Подключение эквайеров;
            button.accordion Получение и подтверждение сертификата PSI DSS;
            button.accordion Оказание консультационных услуг клиентам, находящимся за пределами Эстонии и Чехии;
            button.accordion Поиск и проведение переговоров с корпоративными и частными клиентами;
            button.accordion Подключение корпоративных клиентов – владельцев онлайн сервисов по API (в том числе в рамках договоров white label);
            button.accordion Проведение комплекса маркетинговых мероприятий в режиме онлайн и офлайн;
        .arrow-scroll
            a.arrow-scroll__wrap.arrow-scroll__wrap_animated(href="")
                i.far.fa-chevron-down
