.screen.screen--custom
    #fixed-menu.list-group.fixed-menu
        a.list-group-item.list-group-item-action.active(href='#customers-list-1')
        a.list-group-item.list-group-item-action(href='#customers-list-2')
        a.list-group-item.list-group-item-action(href='#customers-list-3')
    .screen__banner
        img(src="img/banner_4.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner клиенты, чьи бизнесы мы обслуживаем с точки зрения осуществления представительских функций
            p.banner-content__desc В настоящий момент мы осуществляем комплексное обслуживание группы компаний GoldFort (Чехия, Эстония, Словакия, Турция), одна из компаний которой является владельцем финансовых лицензий «virtual currency» и «operating as a financial institution»
    .screen__content
        ol.breadcrumbs
            li.breadcrumbs__item
                a(href="index.html").breadcrumbs__link Главная
            li.breadcrumbs__item
                a(href="customer.html").breadcrumbs__link Наши клиенты
        p В настоящий момент мы осуществляем комплексное обслуживание группы компаний GoldFort (Чехия, Эстония, Словакия, Турция), одна из компаний которой является владельцем финансовых лицензий «virtual currency» и «operating as a financial institution»
        p.customers-title Наш функционал в проекте:

        .customers.scrollspy-example(data-spy='scroll' data-target='#fixed-menu' data-offset='0')
            ul#customers-list-1.customers-list
                li.customers-item Открытие филиалов и представительств;
                li.customers-item Паспортизация лицензий на территории ЕС, Турции, России, Казахстана, ОАЭ;
                li.customers-item Открытие расчетных и сегрегированных счетов в вышеупомянутых юрисдикциях;
                li.customers-item Подключение эквайеров;
                li.customers-item Получение и подтверждение сертификата PSI DSS;
                li.customers-item Оказание консультационных услуг клиентам, находящимся за пределами Эстонии и Чехии;
                li.customers-item Поиск и проведение переговоров с корпоративными и частными клиентами;
                li.customers-item Подключение корпоративных клиентов – владельцев онлайн сервисов по API (в том числе в рамках договоров white label);
                li.customers-item Проведение комплекса маркетинговых мероприятий в режиме онлайн и офлайн;
            ul#customers-list-2.customers-list
                li.customers-item Открытие филиалов и представительств;
                li.customers-item Паспортизация лицензий на территории ЕС, Турции, России, Казахстана, ОАЭ;
                li.customers-item Открытие расчетных и сегрегированных счетов в вышеупомянутых юрисдикциях;
                li.customers-item Подключение эквайеров;
                li.customers-item Получение и подтверждение сертификата PSI DSS;
                li.customers-item Оказание консультационных услуг клиентам, находящимся за пределами Эстонии и Чехии;
                li.customers-item Поиск и проведение переговоров с корпоративными и частными клиентами;
                li.customers-item Подключение корпоративных клиентов – владельцев онлайн сервисов по API (в том числе в рамках договоров white label);
                li.customers-item Проведение комплекса маркетинговых мероприятий в режиме онлайн и офлайн;
            ul#customers-list-3.customers-list
                li.customers-item Открытие филиалов и представительств;
                li.customers-item Паспортизация лицензий на территории ЕС, Турции, России, Казахстана, ОАЭ;
                li.customers-item Открытие расчетных и сегрегированных счетов в вышеупомянутых юрисдикциях;
                li.customers-item Подключение эквайеров;
                li.customers-item Получение и подтверждение сертификата PSI DSS;
                li.customers-item Оказание консультационных услуг клиентам, находящимся за пределами Эстонии и Чехии;
                li.customers-item Поиск и проведение переговоров с корпоративными и частными клиентами;
                li.customers-item Подключение корпоративных клиентов – владельцев онлайн сервисов по API (в том числе в рамках договоров white label);
                li.customers-item Проведение комплекса маркетинговых мероприятий в режиме онлайн и офлайн;
        .arrow-scroll
            a.arrow-scroll__wrap.arrow-scroll__wrap_animated(href="executive-services.html")
                i.far.fa-chevron-down
