.screen
    .screen__banner
        img(src="img/banner_3.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner Cпециалисты RCC оказывают услуги финансовым стартапам, действующим платежным сервисам на территории ЕС, СНГ, Грузии и Турции
            p.banner-content__desc Профессиональные участники финансового рынка могут получить максимально полный комплекс услуг, позволяющий им динамично развиваться и быть впереди конкурентов
    .screen__content
        p Юридический холдинг <strong>Real Consulting Club</strong> (RCC) осуществляет свою деятельность с 2007 года.
        p В начале своей деятельности RCC специализировался на классических консультационных и посреднических услугах на территории ЕС, сопровождая оформление сделок с недвижимостью, содействуя в получении гражданства и вида на жительство, открытии юридических лиц и банковских счетов.
        p Постоянное взаимодействие с регулирующими органами и финансовыми учреждениями, а также опыт работы с аудиторскими компаниями и поставщиками программного обеспечения позволило специалистам RCC специализировать и углубить свою квалификацию в направлении консалтингового сопровождения компаний, осуществляющих свою деятельность в сфере финансов, что позволило компании выйти за пределы Евросоюза и расширить географию своей деятельности.
        p На территории России интересы холдинга RCC представляет компания ООО «Реал Консалтинг Клаб», основанная в 2017 году.
        p На сегодняшний день специалисты RCC оказывают свои услуги для финансовых стартапов и уже действующих платежных сервисов на территории ЕС, СНГ, Грузии и Турции. Профессиональные участники финансового рынка могут получить максимально полный комплекс услуг, позволяющий им динамично развиваться и быть впереди конкурентов.
        .slider-about
            .slider-about__item
                img.slider-about__pic(src="img/insurance.png" alt="")
                p.slider-about__text Полная конфиденциальность
            .slider-about__item
                img.slider-about__pic(src="img/contract.png" alt="")
                p.slider-about__text Детальное погружение в бизнес клиента
            .slider-about__item
                img.slider-about__pic(src="img/insurance.png" alt="")
                p.slider-about__text Полная конфиденциальность
            .slider-about__item
                img.slider-about__pic(src="img/contract.png" alt="")
                p.slider-about__text Детальное погружение в бизнес клиента

