.screen
    .screen__banner
        img(src="img/banner_2.jpg" alt="")
        .banner-content
            h1.banner-content__title.banner-content__title--inner получите весь спектр узкоспециализированных и высокотехнологичных услуг от одного консалтера
            p.banner-content__desc Real Consulting Club  - это уникальный проект, объединивший под своим брендом  многопрофильных международных специалистов  с целью комплексного обслуживания бизнесов, осуществляющих свою деятельность в сфере финтеха
    .screen__content
        p Real Consulting Club – динамично развивающийся международный проект, дающий своим сотрудникам неограниченные возможности в части карьерного роста, повышения квалификации, получения опыта в сфере международных финансов и стабильного роста доходов.
        .accordion-wrapp
            p.accordion-title Мы с радостью ждем в нашу команду:
            button.accordion юристов с международным опытом работы;
            .panel
                a(href="").btn.btn-dark Описание вакансии
                a(href="").btn.btn-dark Отправить резюме
            button.accordion IT специалистов (программистов, служба support, аналитиков, специалистов по базам данных);
            .panel
                a(href="").btn.btn-dark Описание вакансии
                a(href="").btn.btn-dark Отправить резюме
            button.accordion энтузиастов в сфере продвижения финтех проектов;
            .panel
                a(href="").btn.btn-dark Описание вакансии
                a(href="").btn.btn-dark Отправить резюме
            button.accordion специалистов по интеграции с платежными системами по API;
            .panel
                a(href="").btn.btn-dark Описание вакансии
                a(href="").btn.btn-dark Отправить резюме
            button.accordion маркетологов в сфере онлайн продвижения финансовых продуктов;
            .panel
                a(href="").btn.btn-dark Описание вакансии
                a(href="").btn.btn-dark Отправить резюме
            button.accordion дилеров и дистрибьюторов для продвижения финансовых продуктов оффлайн
            .panel
                a(href="").btn.btn-dark Описание вакансии
                a(href="").btn.btn-dark Отправить резюме
        .screen__content
            p Наш сервис позволяет финансовым учреждениям из разных стран получить весь спектр узкоспециализированных и высокотехнологичных услуг со стороны одного консалтера, что позволяет нашим клиентам динамично развиваться, не теряя время на поиск профессиональных партнеров с разными компетенциями и в разных юрисдикциях.

            p Помимо обслуживания клиентов  в части оказания разовых услуг мы осуществляем постоянное комплексное обслуживание финансовых бизнесов и отрабатываем самые масштабные и долгосрочные запросы наших клиентов.
