extends ../layout/layout.pug
block vars
	- var title = 'О компании';
block header
	include ../includes/header/header-ru
block content
	include ../includes/screen-about-ru
block footer
	include ../includes/footer




