extends ../layout/layout.pug
block vars
	- var title = 'О компании';
block header
	include ../includes/header.pug
block content
	include ../includes/screen-about
block footer
	include ../includes/footer




