extends ../layout/layout.pug
block vars
	- var title = 'About';
block header
	include ../includes/header/header-en
block content
	include ../includes/screen-about-en
block footer
	include ../includes/footer




