extends ../layout/layout.pug
block vars
	- var title = 'Career';
block header
	include ../includes/header/header-en
block content
	include ../includes/screen-career-en
block footer
	include ../includes/footer




