extends ../layout/layout.pug
block vars
	- var title = 'Карьера';
block header
	include ../includes/header/header-ru
block content
	include ../includes/screen-career-ru
block footer
	include ../includes/footer




