extends ../layout/layout.pug
block vars
	- var title = 'Наши клиенты';
block header
	include ../includes/header.pug
block content
	include ../includes/screen-customers.pug
block footer
	include ../includes/footer




