extends ../layout/layout.pug
block vars
	- var title = 'Наши клиенты';
block header
	include ../includes/header/header-ru
block content
	include ../includes/screen-customers-ru
block footer
	include ../includes/footer




