extends ../layout/layout.pug
block vars
	- var title = 'Представительские услуги';
block header
	include ../includes/header/header-ru
block content
	include ../includes/executive-services-ru
block footer
	include ../includes/footer




