extends ../layout/layout.pug
block vars
	- var title = 'Представительские услуги';
block header
	include ../includes/header.pug
block content
	include ../includes/executive-services.pug
block footer
	include ../includes/footer




