extends ../layout/layout.pug
block vars
	- var title = 'executive services';
block header
	include ../includes/header/header-en
block content
	include ../includes/executive-services-en
block footer
	include ../includes/footer




