extends ../layout/layout.pug
block vars
	- var title = 'financial services';
block header
	include ../includes/header/header-en
block content
	include ../includes/financial-services-en
block footer
	include ../includes/footer




