extends ../layout/layout.pug
block vars
	- var title = 'Финансовые услуги';
block header
	include ../includes/header/header-ru
block content
	include ../includes/financial-services-ru
block footer
	include ../includes/footer




