extends ../layout/layout.pug
block vars
	- var title = 'Финансовые услуги';
block header
	include ../includes/header.pug
block content
	include ../includes/financial-services.pug
block footer
	include ../includes/footer




