extends ../layout/layout.pug
block vars
	- var title = 'it services';
block header
	include ../includes/header/header-en
block content
	include ../includes/it-services-en
block footer
	include ../includes/footer




