extends ../layout/layout.pug
block vars
	- var title = 'IT услуги';
block header
	include ../includes/header/header-ru
block content
	include ../includes/it-services-ru
block footer
	include ../includes/footer




