extends ../layout/layout.pug
block vars
	- var title = 'IT услуги';
block header
	include ../includes/header.pug
block content
	include ../includes/it-services.pug
block footer
	include ../includes/footer




