extends ../layout/layout.pug
block vars
	- var title = 'Юридические услуги';
block header
	include ../includes/header.pug
block content
	include ../includes/legal-services.pug
block footer
	include ../includes/footer




