extends ../layout/layout.pug
block vars
	- var title = 'Юридические услуги';
block header
	include ../includes/header/header-ru
block content
	include ../includes/legal-services-ru
block footer
	include ../includes/footer




