extends ../layout/layout.pug
block vars
	- var title = 'legal services';
block header
	include ../includes/header/header-en
block content
	include ../includes/legal-services-en
block footer
	include ../includes/footer




