extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block header
	include ../includes/header/header-ru
block content
	include ../includes/screen-first-ru
block footer
	include ../includes/footer




